*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}

.cover-img img{
  height: 400px;
  width:900px;
  filter: blur(2px) brightness(60%);
  margin-left: 700px;
 background-size: cover;
object-fit: cover;
position: relative;
}
.heading h2{
  font-weight: bold;
  font-size: 25px;
  color: white;
  margin-left: 50px;
  margin-top: 30px;
  text-align: center;
 
}
.heading p{
   margin-left: 50px;
   color: white;
   text-align: center;
    margin-bottom: 10PX;
}
.heading{
  background: transparent;
}
.nav-bar{
  position: absolute;
  display: flex;
  justify-content: space-between;
  gap:40px;
  z-index:10;
  background-color:rgba(0,0,0,0.6);
  

  

}
.menu{
display:flex;
gap:25px;
list-style:none;
 margin-top: 40px;
 color: white;
 margin-left: 377px;

}
.cover h1,p{
  text-align: left;
color: green;
  
} 
.header{
  display: flex;
}